:root {
  /*Dark mode*/
  --dark-bg: transparent;
  --dark-layer1: 255,255,255;
  --dark-flyout: rgba(30,30,30);
  --dark-select: 255,255,255;
  --dark-accent: rgb(76, 194, 255);
  --dark-accent-hovered: rgb(65, 163, 214); /*also disabled button*/
  --dark-accent-font-color: black;
  --dark-button: rgb(45,45,45);
  --dark-button-border: rgb(60, 60, 60);
  --dark-button-font-color: white;
  --dark-dm-about: rgba(0,0,0,0.4);
  --dark-background-accent: rgba(50,50,50,0.9);
  --dark-status-panel: rgba(30,30,30,0.4);

  /*Light mode*/
  --light-bg: transparent;
  --light-layer1: 255,255,255;
  --light-flyout: rgb(255, 255, 255);
  --light-select: 0,0,0;
  --light-accent: rgb(0, 120, 212);
  --light-accent-hovered: rgb(0, 94, 167); /*also disabled button*/
  --light-accent-font-color: white;
  --light-button: rgb(251,251,251);
  --light-button-border: rgb(204, 204, 231);
  --light-button-font-color: black;
  --light-dm-about: rgba(255,255,255,0.35);
  --light-background-accent: rgba(160,160,160,0.9);
  --light-status-panel: rgba(255,255,255,0.4);
  
  /* Titlebar */
  --custom-app-top-bar-height: calc(24px + var(--space-sm)); 
  --title-bar-icon: flex;
}

.theme-dark { 
  --app-bg: var(--dark-bg);
  
  /*Layer 1*/
  --background-primary: rgba(var(--dark-layer1),0.05); /* Activity Card Empty */
  --background-base-low: rgba(var(--dark-layer1),0.05); /* Follow channel */
  --background-secondary-alt: rgba(var(--dark-layer1),0.05);
  --input-background: rgba(var(--dark-layer1),0.05);
  --background-secondary: rgba(var(--dark-layer1),0.05);
  --background-tertiary: rgba(var(--dark-layer1),0.06);
  --channeltextarea-background: rgba(var(--dark-layer1),0.05);
  --bg-mod-subtle: rgba(var(--dark-layer1),0.1);

  /*Flyout*/
  --background-floating: var(--dark-flyout); 

  /*Select or hover*/
  --layer1: var(--dark-layer1);
  --flyout: var(--dark-flyout);
  --background-modifier-selected: rgba(var(--dark-select),0.07);
  --background-modifier-active: rgba(var(--dark-select),0.07);
  --background-modifier-hover: rgba(var(--dark-select),0.05);

  /*variables*/
  --accent: var(--dark-accent);
  --accent-hovered: var(--dark-accent-hovered);
  --accent-font: var(--dark-accent-font-color);
  --button: var(--dark-button);
  --button-border: var(--dark-button-border);
  --button-font-color: var(--dark-button-font-color);
  --dm-about: var(--dark-dm-about);
  --background-accent: var(--dark-background-accent);
  --status-panel: var(--dark-status-panel);
} 
.theme-light{
  --app-bg: var(--light-bg); 

  /* Layer 1 */
  --background-primary: rgba(var(--light-layer1),0.7); /* Activity Card Empty */
  --background-base-low: rgba(var(--light-layer1),0.7); /* Follow channel */
  --background-surface-higher: rgba(var(--light-layer1), 0.4);
  --background-secondary-alt: rgba(var(--light-layer1), 0.1);
  --input-background: rgba(var(--light-layer1), 0.7); 
  --background-secondary: rgba(var(--light-layer1), 0.7);
  --background-tertiary: rgba(var(--light-layer1), 0.7);
  --channeltextarea-background: rgba(var(--light-layer1), 0.4);
  --bg-mod-subtle: rgba(0,0,0,0.1);

  /* Flyout */
  --background-floating: var(--light-flyout);

  /* Select or hover */
  --layer1: var(--light-layer1);
  --flyout: var(--light-flyout);
  --background-modifier-selected: rgba(var(--light-select), 0.07);
  --background-modifier-active: rgba(var(--light-select), 0.07);
  --background-modifier-hover: rgba(var(--light-select), 0.05);

  /* Variables */
  --accent: var(--light-accent);
  --accent-hovered: var(--light-accent-hovered);
  --accent-font: var(--light-accent-font-color);
  --button: var(--light-button);
  --button-border: var(--light-button-border);
  --button-font-color: var(--light-button-font-color);
  --dm-about: var(--light-dm-about);
  --background-accent: var(--light-background-accent);
  --status-panel: var(--light-status-panel);
}

._160d8e55254637e5-app,
._960e4207cea8323e-bg,
._51fd70792ee2e563-appMount,
.ef3116c2da186559-wrapper,
._133bf5eea8e33a34-container, ._133bf5eea8e33a34-tabBody, ._960e4207cea8323e-bg, ._160d8e55254637e5-app, ._51fd70792ee2e563-appMount, /* BASE */
.f75fb00fb7356cbe-chat,
.f75fb00fb7356cbe-chatContent, /*Server Chat*/
._99e7cad8d4c55236-scroller, .e6b7699ce8339e1c-privateChannels, ._99e7cad8d4c55236-scroller, .e6b7699ce8339e1c-privateChannels, /*DMs Sidebar*/
._7d20cf18f8a2784c-container, ._133bf5eea8e33a34-nowPlayingColumn, ._9293f6b2fc12398a-themed, /*DMs misc*/
.visual-refresh ._133bf5eea8e33a34-tabBody, 
._7d20cf18f8a2784c-container,
._133bf5eea8e33a34-container,
._2637a2609f343032-container, ._5e434347c823b592-sidebar, .ef3116c2da186559-wrapper /*Server Sidebar*/,
.visual-refresh .clickable_f37cb1, .visual-refresh .f37cb1984c371ee5-hasBanner .f37cb1984c371ee5-header, /*Server name*/
:where(.visual-refresh) ._740174f3d6a2c8fe-themedBackground, /*Server Textarea*/
.visual-refresh .f369dba7416c67f0-container, /* Forum */
._5e434347c823b592-panels, ._37e49614b9f110a9-container, /*User Profile*/
.visual-refresh ._5e434347c823b592-sidebar:after,
._23746ba3de9452d8-scroller, ._551b0894962ff66f-container, .theme-light .e9ef783a74d3f83a-gradient, ._8a7fc664acf53af6-backdrop /*Discovery*/,
.visual-refresh ._23e6b439306f125a-contentRegionScroller, .visual-refresh ._23e6b439306f125a-sidebarRegionScroller, .visual-refresh ._23e6b439306f125a-standardSidebarView, ._23e6b439306f125a-contentRegion, ._960e4207cea8323e-layer /*Settings*/, 
._1fed1dd06c7aabf7-fieldList,
._9293f6b2fc12398a-children:after,
.visual-refresh .cdf8a9a2bbd98bd3-wrapper, .visual-refresh .fc817765600a960a-wrapper /* Skeleton loading */,
.visual-refresh ._908e20001ad67812-content /*Divider*/,
._36d072eab2b2e737-chatGradient, ._36d072eab2b2e737-chatTypingGradientNotAtBottom, ._36d072eab2b2e737-chatTypingGradientAtBottom /* Chatbox gradient */,
._7641b507c6cdbb10-container /* Thread member list */,
.cb9592ad77576717-channelChatWrapper, .cb9592ad77576717-wrapper /* Voice Chat message panel */ {
  background-color: transparent !important;
  background: transparent !important;
}

/*Server*/
.visual-refresh .f75fb00fb7356cbe-channelTextArea {
  background-color: var(--channeltextarea-background);
}

/*Buttons*/
._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorBrand {
  background-color: var(--accent);
  color: var(--accent-font);
}
._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorBrand:hover {
  background-color: var(--accent-hovered);
}
._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorBrand:disabled{
  background-color: var(--accent-hovered);
}
._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorPrimary, ._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorPrimary:disabled {
  background-color: var(--button);
  color: var(--button-font-color);
  outline: solid var(--button-border) 1.5px;
}

/*Toggle*/
._3f21e80f8677ec40-container._3f21e80f8677ec40-checked{
  background-color: var(--accent) !important;
}
._3f21e80f8677ec40-container._3f21e80f8677ec40-checked:hover{
  background-color: var(--accent-hovered) !important;
}

/*Special Flyout*/
.e8b59c4b335dd2fc-messagesPopoutWrap,
.container__2692d,
.fc561d3c125f6a2f-container,
._084343c4f11eaaab-contentWrapper,
.fed6d32841cc2da2-header,
._0d1eff984b8fd277-wrapper,
.a16aea1526925c2c-popout,
.c0e32c5cffed3d9f-wrapper,
.ac6cb02cd15b4b3b-quickswitcher,
.vc-notification-root,
.b7f4b43fe1b6e285-container, .b7f4b43fe1b6e285-reactors,
.e7d73e5106887df1-emojiRow .emojiAliasInput_e7d73e .emojiInput_e7d73e,
.main__949ab,
._6da2d8abf659f945-streamPreview,
.c1e9c47c23f12ca3-menu /* Context menu */ {
  background-color: var(--flyout);
}

/*Thread*/
._01ae244280823725-container {
  background-color: rgba(var(--layer1),0.05);
}

/*Misc*/
.overlayBackground_c69a7b {
  background-color: var(--dm-about);
}
._01ae244280823725-resizeHandle {
  width: 0px;
}
._0f2e83213c878a13-container { /*Server Activity Status*/
    background-color: var(--background-primary);
    outline: solid 1px rgba(255,255,255,0.1);
}
.ac6cb02cd15b4b3b-scroller { /*Global search*/
  border-radius: 5px;
  margin-right: 0px;
}
.visual-refresh .f75fb00fb7356cbe-form {
  margin-top: 0;
}
._0f481cbbd7530492-jumpToPresentBar {
  padding-bottom: 0;
}
._5eb9b3cc7c2b1ce8-lottieIcon.e131a99484292a19-buttonIcon { /* VoiceChat Soundboard icon */
    --__lottieIconColor: white !important;
}
.e131a99484292a19-container { /* VoiceChat border radius */
    border-radius: 8px;
}
.c38106a3f0c3ca76-title, .c38106a3f0c3ca76-leading, .c38106a3f0c3ca76-trailing, .c38106a3f0c3ca76-winButtons { /* Titlebar */
  display: var(--title-bar-icon);
}
._5e434347c823b592-sidebarListRounded { /* Remove sidebar backdrop-filter    WHO PUTS BACKDROP FILTER HERE?? */
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}
._5e434347c823b592-panels, ._37e49614b9f110a9-container { /*User Profile*/ 
  background: var(--status-panel) !important;
}
.visual-refresh ._740174f3d6a2c8fe-stackedBars { /* Reply Bar */
  background: transparent;
}
.d08938d21d4682b7-container { /* Discovery header fix */
  padding-top: var(--custom-channel-header-height);
}
._8a7fc664acf53af6-overlay { /* Discovery header fix */
  top: 0px;
}
.bf1984a18b3ec6f0-outer { /* Activity Card */
  background-color: var(--background-primary); 
}
.user-profile-sidebar { /* User Profile sidebar */
  background: var(--background-primary);
}
._623de82e76ad7f82-embedFull { /* Embed */
  background: var(--background-primary);
}

/*meow*/
:root {
  --custom-channel-members-bg: transparent;
  --bg-base-primary: transparent;
  --home-background: transparent;
  --scrollbar-auto-track: transparent;
  --deprecated-store-bg: transparent;
}

body{
  background-color: var(--app-bg) !important;
}

/* Fix semicolon bug */
.a3002d7de5be5280-app {
  color: transparent;
}
